@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';
@import '@fontsource/fira-mono';

@import '@skeletonlabs/skeleton';
@import '@skeletonlabs/skeleton-svelte';
@import '@skeletonlabs/skeleton/themes/cerberus';

body {
	min-height: 100dvh;
}

[data-theme='cerberus'] {
	--body-background-color: #fffce9;
	--color-foreground-accent: var(--color-primary-200);
}

.header-image {
	width: 100%;
	height: auto;
	aspect-ratio: 1;
	border-radius: 50%;
}
